*.pem

# Project SSH keys
./todos-infra/keys/

# Terraform
./todos-infra/.terraform/
./todos-inra/terraform.tfstate
./todos-infra/plan.json
./todos-infra/plan.out
./todos-infra/.terraform.lock.hcl


./AnsibleRoles/secrets/
/todos-infra/keys
